@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html{
    background-color: white;
    font-family: 'Open Sans';
}

body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

a:link {
    color:black;
}

a:hover, a:active, a:visited {
    color:dimgrey;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:hover {background-color: #f5f5f5}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ee4d2e;
    color: white;
}

.button {
    background-color: #ee4d2e;
    color: white;
    padding: 7px 20px;
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color: #FF5230;
}

.post {
    width: 600px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.post{
    float: left;
}

.buttonExit {
    clear:both;
}