<h1>COMMENTS PAGE</h1>
<p>{{message}}</p>

<p>Comments to post: {{postTitle}} (ID:{{params.postId}})</p>
<div class="comment" ng-repeat="comment in comments">
    <h4>(ID:{{comment.id}})</h4>
    <p>{{comment.message}}</p>
</div>
<div class = buttonExit>
    <br>
    <a href="#/posts/{{userId}}"><button class="button">Back to Posts.</button></a>
</div>