<h1>POSTS PAGE</h1>
<p>{{message}}</p>

<p>All posts written by user: {{userName}} (ID:{{params.userId}})</p>
<div class="post" ng-repeat="post in posts">
    <h2>{{post.title}} (ID:{{post.id}})</h2>
    <p>{{post.message}}</p>
    <!-- This button opens up the route to the clicked post by using it's ID -->
    <a href="#/comments/{{post.id}}">
        <button class="button">View comments for this post.</button>
    </a>
</div>
<div class = buttonExit>
    <br>
    <a href="#/users"><button class="button">Back to Users.</button></a>
</div>