<h1>USERS PAGE</h1>
<p>{{message}}</p>

<table>
    <tr>
        <th>ID:</th>
        <th>Name:</th>
        <th>Username:</th>
        <th>Email:</th>
    </tr>
    <!-- Here the table to list all users is generated on retrieval of user information from the API -->
    <tr ng-repeat="user in users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td><a ng-href="#/posts/{{user.id}}">{{user.username}}</a></td>
        <td>{{user.email}}</td>
    </tr>
</table>